<!doctype html>
<html>
<head>
    <title>Getting Started</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link type="text/css" rel="stylesheet" href="./dist/style.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" />
</head>
<body style="background: lightgrey" class="pt-3">
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(55939246, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
    });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/55939246" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<div id="app">
    <div  class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card shadow-sm ">
                    <div class="mt-2">
                        <img style="width: 200px; height: 200px" class="mx-auto d-block img-thumbnail rounded-circle"
                             src="img/KKnAJ-r8oM0.jpg">
                    </div>
                    <div class="text-center pt-2" style="font-family: 'Gotham Bold'; font-size: 20px;">
                        {{ profile.name }}
                    </div>
                    <div>
                        <ul class="nav justify-content-center border-top">
                            <li class="nav-item" v-for="link in profile.contacts.social">
                                <a class="nav-link p-2" :href="link.href"><img :src="link.image"></a>
                            </li>
                        </ul>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card shadow-sm p-2">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Work experience</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Research</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="media pt-2 pb-2" v-bind:class="{ 'border-bottom': index != profile.work.length - 1}" v-for="(item, index) in profile.work">
                                <img style="max-width: 64px; max-height: 64px;" :src="item.image" class="mr-3" alt="">
                                <div class="media-body">
                                    <h5 class="mt-0">{{ item.name }}</h5>
                                    {{ item.description }}
                                </div>
                                <span v-if="item.finish !== null" class="badge badge-secondary">{{ item.start }} - {{ item.finish }}</span>
                                <span v-if="item.finish == null" class="badge badge-secondary">{{ item.start }}</span>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <div class="media pt-2 pb-2" v-for="(item, index) in profile.education" v-bind:class="{ 'border-bottom': index != profile.education.length - 1}" >
                                <img style="max-width: 64px; max-height: 64px;" :src="item.image" class="mr-3" alt="">
                                <div class="media-body">
                                    <h5 class="mt-0">{{ item.name }}</h5>
                                {{ item.text }}
                                </div>
                                <span class="badge badge-secondary">{{ item.start }} - {{ item.finish }}</span>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <div class="card" style="width: 18rem;" v-for="item in profile.research">
                                <img :src="item.image" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{ item.title }}</h5>
                                    <p class="card-text">{{ item.description }}</p>
                                    <a :href="item.link" class="btn btn-primary">Go to paper</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <footer class="container bg-light p-2 m-2">
    © Sergey Sergeev 2019
</footer> !-->
<script src="dist/main.js"></script>
</body>
</html>